/* src/index.css */
html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Inter', sans-serif; /* Usaremos essa fonte */
    line-height: 1.6;
    background-color: #f8f8f8; /* Cor de fundo global */
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Estilos globais para títulos */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
    line-height: 1.2;
}

p {
    margin-bottom: 1em;
}